.quid-pay-settings-response {
  padding-left: 5px;
}

.quid-pay-settings input,
.quid-pay-settings-dropdown,
.quid-fab-settings textarea {
  width: 400px;
  margin: 0;
  max-width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.quid-fab-settings textarea {
  padding: 3.5px;
}

.quid-pay-settings-input-description {
  margin-top: 2px;
  padding: 0px 3px;
  opacity: 0.7;
  font-size: 12px;
}

.quid-pay-settings-header {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.quid-pay-settings-page-title {
  margin-top: 30px;
}

.quid-pay-settings-header .quid-pay-settings-page-title {
  margin: auto 0px;
  font-size: 24px;
  display: inline-block;
}

.quid-pay-settings-title {
  font-size: 15px;
  margin: 25px 0px 10px;
}

.quid-pay-settings-subtitle {
  font-size: 14px;
  margin: 25px 0px;
}

.quid-field-margin {
  margin-bottom: 15px;
}

.quid-pay-settings label {
  font-weight: 500;
  display: inline-block;
  margin-top: 10px;
  margin-left: 3px;
  margin-bottom: 2px;
}

.quid-pay-settings .quid-settings-label-tooltip label {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.quid-pay-settings-section-header {
  margin-top: 0px;
  margin-bottom: 15px;
}

.quid-pay-settings-section-header:not(:first-of-type) {
  margin-top: 32px;
}

.quid-pay-settings-section-title {
  font-size: 16px;
  font-weight: bold;
}

.quid-pay-settings-section-description {
  font-size: 13px;
  margin-top: 5px;
  opacity: 0.8;
}

.quid-settings-tooltip-container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  margin-right: 10px;
  width: 400px;
}

.quid-settings-label-tooltip {
  margin-bottom: 5px;
  margin-top: 10px;
}

.quid-settings-tooltip-icon {
  cursor: help;
  margin-left: 8px;
  background-color: #79848c;
  border: solid 1px #79848c;
  color: white;
  height: 11px;
  border-radius: 50%;
  width: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.quid-pay-settings-save-bottom {
  margin-top: 20px;
}

.quid-pay-settings-save-top {
  display: block;
  margin-bottom: 30px;
}

.quid-fab-settings {
  display: flex;
  flex-flow: wrap;
}

.quid-fab-switch {
  position: relative;
  width: 80px;
  height: 30px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}

.quid-fab-switch input {
  height: 100%;
  background-color: transparent;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.quid-fab-switch .quid-fab-switch-handle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 30px;
  width: 30px;
  border: solid #b0d9da 0.1px;
  background-color: #b0d9da;
  background-image: url("https://js.quid.works/v1/assets/quid.png");
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.quid-fab-switch .quid-fab-switch-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.quid-fab-switched-on {
  background-color: #009089;
}

.quid-fab-switched-off {
  background-color: #576066;
}

.quid-fab-switched-on .quid-fab-switch-handle {
  left: auto;
  right: 0px;
}

.quid-fab-switched-off .quid-fab-switch-handle {
  left: 0px;
  right: auto;
}

.quid-fab-switched-on .quid-fab-switch-text {
  left: 5px;
  right: 30px;
}

.quid-fab-switched-off .quid-fab-switch-text {
  left: 30px;
  right: 5px;
}

.quid-cat-settings {
  display: flex;
  flex-flow: wrap;
}

.quid-settings-message {
  display: none;
  padding: 10px 30px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 1s;
  margin-top: -20px;
  margin-left: 0px;
}

.quid-settings-message-show {
  display: block;
  opacity: 1;
}

.quid-fab-setting-message {
  color: red;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  margin-top: 10px;
}

td,
th {
  padding-right: 10px;
  text-align: left;
}

.quid-pay-settings-container {
    margin-top: 60px;
    background-color: white;
    margin-right: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 20px;
    position: relative;
}

.quid-pay-settings-tabs {
    position: absolute;
    height: 35px;
    top: calc(0px - 35px);
    right: 0px;
    left: 0px;
    background-color: transparent;
    display: flex;
    flex-flow: nowrap;
}

.quid-pay-settings-tab {
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 15px;
    padding: 0px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #009089;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: white;
}

.quid-pay-settings-tab:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 144, 137, 0.8);
}

.quid-pay-settings-tab-active {
   background-color: white;
   color: black;
}

.quid-pay-settings-tab-active:hover {
   background-color: white;
   color: black;
}